.framer-cyXrc .framer-1gmzvq4 {
    flex-flow: column;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-cyXrc .framer-1l9i2gv,
.framer-cyXrc .framer-1jn02w5 {
    flex-flow: row;
    flex: none;
    place-content: flex-start space-between;
    align-items: flex-start;
    width: 100%;
    height: min-content;
    padding: 0 24px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-cyXrc .framer-bcin9m {
    flex-flow: column;
    flex: 1 0 0;
    place-content: flex-start center;
    align-items: flex-start;
    gap: 40px;
    width: 1px;
    max-width: 1000px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-cyXrc .framer-1xdtwk-container,
.framer-cyXrc .framer-8mcdq1-container {
    mix-blend-mode: difference;
    flex: none;
    width: 100%;
    height: auto;
    position: relative;
}

.framer-cyXrc.framer-72rtr7 {
    --selection-background-color: var(--token-9811e40b-3ed8-4237-98e5-61535bb22d2f, #fff);
    --selection-color: var(--token-2d91bfb1-1bb0-467e-bf37-8ef020f4f815, #000);
    background-color: var(--token-2d91bfb1-1bb0-467e-bf37-8ef020f4f815, #000);
    flex-flow: column;
    place-content: center flex-start;
    align-items: center;
    gap: 0;
    width: 1200px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}

.framer-G2a6L.framer-v5sct {
    --selection-background-color: #fff;
    --selection-color: #000;
    background-color: #000;
    flex-flow: column;
    place-content: center flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}

.framer-cyXrc .framer-uibrbw-container {
    flex: none;
    width: 136px;
    height: 198px;
    position: relative;
}

.framer-cyXrc .framer-uibrbw-container {
    flex: none;
    width: 136px;
    height: 198px;
    position: relative;
}

.framer-cyXrc .framer-1njfbtx-container,
.framer-cyXrc .framer-tjjepc-container,
.framer-cyXrc .framer-19mrkgn-container,
.framer-cyXrc .framer-17yesjc-container,
.framer-cyXrc .framer-dlgb9u-container,
.framer-cyXrc .framer-1bhtlar-container,
.framer-cyXrc .framer-1fvzi93-container,
.framer-cyXrc .framer-1tu45ze-container,
.framer-cyXrc .framer-ziuq0f-container,
.framer-cyXrc .framer-izk59c-container,
.framer-cyXrc .framer-1da5zd7-container,
.framer-cyXrc .framer-1j301b2-container,
.framer-cyXrc .framer-9xrb9k-container,
.framer-cyXrc .framer-1f0kzgh-container,
.framer-cyXrc .framer-1a29w76-container,
.framer-cyXrc .framer-d7vt5m-container,
.framer-cyXrc .framer-1qacodu-container,
.framer-cyXrc .framer-1psm513-container,
.framer-cyXrc .framer-17hi2r4-container {
    flex: none;
    width: 100%;
    height: auto;
    position: relative
}

.framer-TJkAr.framer-2rrbfq {
    flex-flow: row;
    place-content: center;
    align-items: center;
    gap: 300px;
    width: 1440px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-TJkAr .framer-jhl2zo,
.framer-TJkAr .framer-11vwl7o,
.framer-TJkAr .framer-98jae4,
.framer-TJkAr .framer-i0elu3 {
    white-space: pre;
    flex: none;
    width: auto;
    height: auto;
    position: relative;
}

[data-framer-component-type=RichTextContainer] {
    outline: none;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
}

p.framer-text.framer-styles-preset-izlnn8 {
    font-size: 16px;
    font-weight: 600;
}

.framer-cyXrc .framer-1njfbtx-container,
.framer-cyXrc .framer-tjjepc-container,
.framer-cyXrc .framer-19mrkgn-container,
.framer-cyXrc .framer-17yesjc-container,
.framer-cyXrc .framer-dlgb9u-container,
.framer-cyXrc .framer-1bhtlar-container,
.framer-cyXrc .framer-1fvzi93-container,
.framer-cyXrc .framer-1tu45ze-container,
.framer-cyXrc .framer-ziuq0f-container,
.framer-cyXrc .framer-izk59c-container,
.framer-cyXrc .framer-1da5zd7-container,
.framer-cyXrc .framer-1j301b2-container,
.framer-cyXrc .framer-9xrb9k-container,
.framer-cyXrc .framer-1f0kzgh-container,
.framer-cyXrc .framer-1a29w76-container,
.framer-cyXrc .framer-d7vt5m-container,
.framer-cyXrc .framer-1qacodu-container,
.framer-cyXrc .framer-1psm513-container,
.framer-cyXrc .framer-17hi2r4-container {
    flex: none;
    width: 100%;
    height: auto;
    position: relative;
}

.framer-Tw3Vd.framer-1drld19 {
    flex-flow: column;
    place-content: center;
    align-items: center;
    gap: 16px;
    width: 1440px;
    height: min-content;
    padding: 0 24px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-Tw3Vd .framer-1gjgywn-container,
.framer-Tw3Vd .framer-h9998f-container,
.framer-Tw3Vd .framer-me3esw-container,
.framer-Tw3Vd .framer-1whwcdw-container,
.framer-Tw3Vd .framer-8kbyx4-container {
    flex: none;
    width: 100%;
    height: auto;
    position: relative;
}

.framer-3MqPs.framer-1l3w08a {
    flex-flow: column;
    place-content: center;
    align-items: center;
    gap: 16px;
    width: 1392px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-3MqPs .framer-bbal8w,
.framer-3MqPs .framer-1g1qxmv {
    flex: none;
    width: 100%;
    height: 1px;
    position: relative;
    overflow: hidden;
}

.framer-3MqPs .framer-15mx0bf {
    flex-flow: row;
    flex: none;
    place-content: flex-start;
    align-items: flex-start;
    gap: 227px;
    width: 100%;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-3MqPs .framer-1ssoti0,
.framer-3MqPs .framer-wgw9gi {
    flex-flow: row;
    flex: 1 0 0;
    place-content: center;
    align-items: center;
    gap: 227px;
    width: 1px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: visible;
}

.framer-3MqPs .framer-193nh8n,
.framer-3MqPs .framer-1buv54b,
.framer-3MqPs .framer-1je8max,
.framer-3MqPs .framer-1x1fpy4 {
    flex-flow: row;
    flex: 1 0 0;
    place-content: center;
    align-items: center;
    gap: 124px;
    width: 1px;
    max-width: 300px;
    height: min-content;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.framer-3MqPs .framer-1xa879l,
.framer-3MqPs .framer-8iztlc,
.framer-3MqPs .framer-ih2l1,
.framer-3MqPs .framer-3tqjgn {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    flex: 1 0 0;
    width: 1px;
    max-width: 312px;
    height: auto;
    position: relative;
}

p.framer-text.framer-styles-preset-d3a9yv {
    font-size: 17px;
    font-weight: 600;
}